@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');

:root{
    --font: "Space Mono", sans-serif;
    --primary: #333333;
    --ligth-text: #4F4F4F;
    --nav-font: "Inconsolata";
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    min-height: 100vh;
}


nav{
    text-transform: uppercase;
    font-family: var(--nav-font);
    height: 10vh;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding-left: 30px;
}

.container{
    display: grid;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-family: var(--font);
    padding-inline: 40px;
    gap: 30px;
    height: 80vh;
    justify-content: center;
}

.scarecrow img{
    width: 100%;
}



.info h1{
    font-size: 64px;
    color: #333333;
    margin-bottom: 30px;
}

.info p{
    font-size: 24px;
    width: 400px;
    color: var(--ligth-text);
    margin-bottom: 30px;
}

.info button{
    padding: 15px 30px;
    border: none;
    outline: none;
    background: var(--primary);
    color: white;
    font-weight: 700;
    font-family: var(--font);
    text-transform: uppercase;
}

@media screen and (max-width: 950px) {
    .container{
        padding-inline: 20px;
    }
}

@media screen and (max-width: 850px){
    .info h1{
        font-size: 50px;
    }
    .info p{
        font-size: 20px;
    }
}



@media screen and (max-width: 800px) {
  .container{
      display: flex;
      flex-direction: column;
  }
    
  .info h1{
      font-size: 40px;
      width: 100%;
  }

  .info p{
      font-size: 18px;
      width: 100%;
  }


 
}